.left-side-container {
  display: flex;
  height: 80vh;
  margin-bottom: 8.4rem;
}

.left-description {
  flex: 2;
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  padding-right: 4.8rem;
  padding-left: 15rem;
  background-color: #f4f4f4;
  height: 100%;
}

.right-preview {
  flex: 4;
  height: 100%;
  border-bottom-left-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  background-color: #303030;
}
