.left-side-container {
  display: flex;
  height: 80vh;
  margin-bottom: 8.4rem;
}

.left-description {
  flex: 2;
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
  justify-content: center;
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  padding-right: 9.6rem;
  padding-left: 15rem;
  background-color: #f4f4f4;
  height: 100%;
}

.right-preview {
  flex: 4;
  height: 100%;
  position: relative;
  border-bottom-left-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  background-color: #303030;
}

.tech-left-stack {
  display: flex;
}

.tech-left-stack-item {
  padding: 1rem 1.2rem;
  border: 1px solid #303030;
}

@media (max-width: 75em) {
}

@media (max-width: 56.25em) {
  .left-side-container {
    flex-direction: column;
  }
  .left-description {
    padding-bottom: 9.6rem;
  }
}

@media (max-width: 37.5em) {
  .left-description {
    padding-left: 6.4rem;
    padding-right: 6.4rem;
  }
}
