.right-side-container {
  display: flex;
  height: 80vh;
  margin-bottom: 8.4rem;
}

.right-description {
  flex: 2;
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
  justify-content: center;
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  padding-left: 9.6rem;
  padding-right: 15rem;
  height: 100%;
}

.left-preview {
  flex: 4;
  position: relative;
  height: 100%;
  border-bottom-right-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  background-color: #303030;
}

.tech-right-stack {
  display: flex;
}

.tech-right-stack-item {
  padding: 1rem 1.2rem;
  border: 1px solid #303030;
}

.buttons-wrapper {
  display: flex;
  gap: 1.6rem;
}

@media (max-width: 75em) {
}

@media (max-width: 56.25em) {
  .right-side-container {
    flex-direction: column;
  }
  .right-description {
    order: -1;
    padding-bottom: 9.6rem;
  }
}

@media (max-width: 37.5em) {
  .right-description {
    padding-left: 6.4rem;
    padding-right: 6.4rem;
  }
}
