.screenshot-left-desktop,
.screenshot-right-desktop {
  width: 80rem;
  height: auto;
  position: absolute;
}

.screenshot-left-phone,
.screenshot-right-phone {
  width: 40rem;
  height: auto;
  position: absolute;
}

.screenshot-left-tablet,
.screenshot-right-tablet {
  width: 50rem;
  height: auto;
  position: absolute;
}

.screenshot-left-desktop {
  left: -10%;
  top: -40%;
}

.screenshot-left-phone {
  bottom: 15%;
  left: 5%;
}

.screenshot-left-tablet {
  right: 5%;
  bottom: -15%;
}

.screenshot-right-desktop {
  right: -10%;
  top: -40%;
}

.screenshot-right-phone {
  bottom: 15%;
  right: 5%;
}

.screenshot-right-tablet {
  left: 5%;
  bottom: -15%;
}
