.icon {
  aspect-ratio: 1;
  height: 3.2rem;
}

.icon-wrapper {
  text-align: end;
  margin-bottom: 3rem;
}

@media (max-width: 75em) {
}

@media (max-width: 56.25em) {
  .icon-wrapper {
    text-align: start;
    margin-bottom: 3.6rem;
  }

  .icon {
    height: 2.4rem;
  }
}

@media (max-width: 37.5em) {
}
