.skills-section {
  background-color: #f4f4f4;
  padding: 5.6rem 0rem;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.skills-container {
  transform: translateX(-150%);
  /* position: relative;
  height: 100%; 
  
  display: inline-block; */
}

.skills-headline {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -25%;
  /* 
  right: -150%;  */
}

.headline {
  text-align: center;
}

.frontend,
.tools,
.backend {
  border: 1px solid rgba(0, 0, 0, 0.18);
  aspect-ratio: 1;
  border-radius: 50%;
}

.frontend {
  position: relative;
  height: 100%;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.tools {
  height: 95%;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.backend {
  /* height: 90%; */
  padding-left: 1.6rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.frontend-in-circle,
.tools-in-circle,
.backend-in-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 90%;
  padding-left: 1rem;
  aspect-ratio: 1;
  float: right;
  border-radius: 90%;
  shape-outside: circle();
}

.mobile-h2 {
  text-align: end;
}

.mobile-flex-container {
  display: none;
  /* height: 100%; */
  align-items: center;
  flex-direction: column;
}

.frontEnd-mobile-container,
.tools-mobile-container,
.backEnd-mobile-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 51%;
  display: flex;
  gap: 4.8rem;
  padding: 2rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.backEnd-mobile-container {
  aspect-ratio: 1;
  height: 22%;
}

.backEnd-mobile-icons,
.frontEnd-mobile-icons,
.tools-mobile-icons {
  display: flex;
}

@media (max-width: 75em) {
}

@media (max-width: 56.25em) {
  .flex-center {
    display: none;
  }

  .mobile-flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .mobile-h2 {
    transform: translateY(30%);
  }
}

@media (max-width: 37.5em) {
  .mobile-h2 {
    transform: translateY(50%);
  }
}
