.skills-section {
  height: 90vh;
  background-color: #f4f4f4;
  padding: 3.6rem 0rem;
}

.flex-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-container {
  position: relative;
  height: 100%;
  transform: translateX(-15%);
  display: inline-block;
}

.skills-headline {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -25%;
}

.headline {
  text-align: center;
}

.frontend,
.tools,
.backend {
  border: 1px solid rgba(0, 0, 0, 0.18);
  aspect-ratio: 1;
  border-radius: 50%;
}

.frontend {
  position: relative;
  height: 100%;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.tools {
  height: 95%;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.backend {
  height: 90%;
  padding-left: 1.6rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.frontend-in-circle,
.tools-in-circle,
.backend-in-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 90%;
  aspect-ratio: 1;
  float: right;
  border-radius: 90%;
  shape-outside: circle();
}

@media (max-width: 75em) {
}

@media (max-width: 56.25em) {
}

@media (max-width: 37.5em) {
}
