.header {
  background-color: #f4f4f4;
  padding: 2.4rem 0;
}

.logo {
  height: 5rem;
  width: 23rem;
}

.header-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-grid nav {
  position: relative;
  z-index: 100;
}

.header-grid ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.6rem;
}

.header-grid ul li {
  cursor: pointer;
}

@media (max-width: 75em) {
}

@media (max-width: 65.81em) {
  .header {
    padding: 2.4rem 3.6rem;
  }
}

@media (max-width: 56.25em) {
  .header-grid ul {
    visibility: hidden;
  }
}

@media (max-width: 47.81em) {
  .h2-container {
    margin-top: 5.6rem;
    position: relative;
  }
}

@media (max-width: 37.5em) {
}
